/* body {
  background-color: #fff9f1 !important;
}

.dashboard-sidebarMenu {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 45px;
  border-radius: 5px;
}

.dashboard-contents {
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 45px;
  border-radius: 5px;
}

.widget {
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 0 10px rgb(136 136 136 / 10%);
}

.courses-search-bx{
 padding-left: 20px;
 padding-right: 20px;
 background-color: white;
 padding-top: 20px;
}

.courses-search-bx .input-group .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.widget-user-2 .widget-user-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px;
}

.py-50 {
  padding-top: 100px !important;
  padding-bottom: 50px !important;
}

.t-100 {
  top: 7.1428571429rem !important;
}

.position-sticky {
  position: sticky !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0080ff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.p-15 {
  padding: 15px !important;
}
.bb-1 {
  border-bottom: 1px solid #f3f6f9 !important;
}
.bt-1 {
  border-top: 1px solid #f3f6f9 !important;
} */
