.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  a {
    height: 30px !important;
    width: 30px !important;
    border: 0.5px solid #d9d9d9;
    border-radius: 5px;
    margin: 8px;
    cursor: pointer;
    font-size: 13px !important;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #284436;
    &:hover {
      border: 1px solid #284436;
    }
  }
}

/* pageination css end here  */

.paginate {
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.paginationDisabled {
  a {
    color: grey !important;
    background-color: rgb(235, 219, 219) !important;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 3rem 0rem !important;
  }
}
.list-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.setpagesize {
  select {
    margin-left: 5px;
    border-radius: 17px;
    outline: 0 !important;
    padding: 0 35px !important;
    height: 30px !important;
    width: auto !important;
    border: 1px solid #000;
  }
}
.setpagesize {
  display: flex;
  align-items: center;
}

.paginationActive {
  a {
    color: #fff !important;
    background: #284436;
    border: 0.5px solid #d9d9d9;
  }
}
.paginationDisabled {
  a {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3) !important ;
    background-color: transparent !important;
  }
}
.pagination {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.bboy {
  right: 5%;
  top: 5%;
}
.instractor_details_inner {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 60px;
    margin-bottom: 53px;
}
